@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 0, 0);
    overflow: hidden;

}

header {
    width: 100%;
    color: #fff;
    height: 10vh;
    background-color: rgb(0, 0, 0);
    display: flex;

}

.logobox {
    width: 4vw;
    margin: 1vh 1vw;
    border: 2px solid black;
    cursor: pointer;
}

.header .logo {
    max-width: 75%;
    max-height: 75%;
    filter: brightness(0) invert(1);

}

.homesvg {
    width: 4vw;
    margin: 5px;
    border-radius: 100%;
    background-color: #201f1f;
    cursor: pointer;

}

.homesvg .house-icon {
    width: 30px;
    height: 30px;
    fill: none;
    stroke: rgb(147, 133, 133);
    stroke-width: 2px;
}

.search-box {
    display: flex;
    align-items: center;
    margin: 5px;
    background-color: #201f1f;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 500px;
}


.search-box .icon {
    flex-shrink: 0;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
    color: gray;
    cursor: pointer;
}

.search-box .discover {
    flex: 1;
    border: none;
    outline: none;
    color: white;
    background-color: #201f1f;
    font-size: 1rem;
    min-width: 0;
}

.search-box .divider {
    width: 1px;
    height: 20px;
    background-color: #665e5e;
    margin: 0 10px;
}

.search-box .icon-end {
    width: 22px;
    height: 22px;
    color: #b3b3b3;
    cursor: pointer;
}

.header .list {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 5px;
    cursor: pointer;
}

.header .list ul {
    margin-left: 12vw;
    list-style: none;
    display: flex;
    gap: 10px;
}

.header .list ul li {
    font-weight: bolder;
    color: #978181;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header .list ul li:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

.header .list ul .divider {
    width: 1px;
    height: 25px;
    background-color: #bcb3b3;
    margin: 0 10px;
}



.header .install {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    cursor: pointer;
    color: #b3b3b3;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header .install span {
    font-size: 1.5rem;

}

.header .install p {
    margin-left: 5px;
    font-size: 1rem;
}

.header .install:hover {
    color: white;
    transform: scale(1.1);
}

.header .download {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    cursor: pointer;
    color: #b3b3b3;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header .download .singup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    cursor: pointer;
    color: #b3b3b3;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.header .download .singup:hover {
    color: white;
    transform: scale(1.1);
}

.header .login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 70px;
    font-weight: bolder;
    padding: 20px;
    cursor: pointer;
    background-color: white;
    color: #000000;
    transition: transform 0.3s ease-in-out;
}

.header .login:hover {
    transform: scale(1.05);
}

.main {
    width: 100vw;
    display: flex;
    height: 78vh;
    padding: 1vh 1vw;
}

.box1 {
    border-radius: 10px;
    width: 25vw;
    height: 100%;
    border: 2px solid #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.box1-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 12vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #121212;
    flex-shrink: 0;
    z-index: 1;
}

.box1-header .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    padding: 5px;
    fill: black;
    transition: transform 0.3s ease-in-out;
}

.box1-header .plus::after {
    content: "Create Playlist or Folder";
    position: absolute;
    bottom: 120%;
    left: 50%;
    font-weight: bolder;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #000000;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}


.box1-header .plus::before {
    content: " ";
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.box1-header .plus:hover::after,
.box1-header .plus:hover::before {
    opacity: 1;
}
.box1 .list {
    flex: 1;
    overflow-y: auto;
    scrollbar-width:none;
    scrollbar-color: #888 #444;
}
.box1 .create-playlist {
    border-radius: 8px;
    margin-top: 10px;
    height: 22vh;
    margin: 20px;
    padding: 1.5px;
    font-weight: bolder;
    background-color: #1f1f1f;
    color: #ffffff;
     flex: 1;
    overflow-y: auto;
}

.box1 .create-playlist .text {
    margin: 20px;
}

.box1 .create-playlist .text p {
    font-weight: 500;
    font-size: small;
    padding-top: 10px;
}

.box1 .create-playlist .create-icon {
    display: flex;
    justify-content: center;
    width: 140px;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
    color: #181717;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
   
}

.box1 .create-playlist .create-icon:hover {
    background-color: #1db954;
    color: #ffffff;
    transform: scale(1.05);
}

.box1 .podcast{
    border-radius: 8px;
    margin-top: 10px;
    height: 22vh;
    margin: 20px;
    padding: 1.5px;
    font-weight: bolder;
    background-color: #1f1f1f;
    color: #ffffff;
    flex: 1;
    overflow-y: auto;
}
.box1 .podcast .text {
    margin: 20px;
}
.box1 .podcast .text p {
    font-weight: 500;
    font-size: small;
    padding-top: 10px;
}

.box1 .podcast .create-icon {
    display: flex;
    justify-content: center;
    width: 200px;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
    color: #181717;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
   
}

.box1 .podcast .create-icon:hover {
    background-color: #1db954;
    color: #ffffff;
    transform: scale(1.05);
}
.box1 footer {
    flex-shrink: 0;
    padding: 10px;
    margin: 10px;
    background: #1f1f1f;
    color: white;
    z-index: 1;
    background-color: #121212;
    height: 30vh;

}
.box1 footer a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 0.8rem;
}
.box1 footer ul {
    display: flex;
    flex-wrap: wrap; 
    list-style: none;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.box1 footer li {
    margin: 5px 10px 5px 0;
}
.box1 footer a p{
    padding-top: 10px;
    color: #ffffff;
   
}
.box1 footer a p:hover{
    color: #1db954;
    cursor: pointer;
     text-decoration: underline;
}
.box1 footer .language{
    width: 120px;
   margin-top: 30px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    background-color: #201f1f;
    align-items: center;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.box1 footer .language img{
    border-radius: 100%;
    margin-right: 8px;
    filter: invert(1);
    width: 20px;
    height: 20px;
}
.box1 footer .language:hover{
    background-color: #1db954;
    color: white;
    transform: scale(1.05);
} 
.box2 {
    width: 70vw;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: #201f1f;
     flex: 1;
    overflow-y: auto;
    scrollbar-width:none;
    scrollbar-color: #888 #444;
}
.box2 .heading{
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 30px;
    color: white;
    box-sizing: border-box;
}
.box2 .heading h1{
    font-size: 25px;
}
.box2 .heading p{
    font-size: 15px;
    color: #b3b3b3;
    cursor: pointer;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.box2 .heading h1:hover{
    text-decoration: underline;
}
.box2 .heading p:hover{
    text-decoration: underline;
    color: white;
}
.box2 .tmp{
    display: flex;
    flex-wrap: wrap;        
    overflow-y: auto;            
    scrollbar-width:none;
    scrollbar-color: #888 #444;
    padding: 10px 20px;
    gap: 10px;
}

.box2 .template {
    display: flex;
    flex-direction: column;   
    align-items: center;     
    width: 170px;
    height: 275px;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    box-sizing: border-box;  
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.box2 .template:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;
    background-color: #333;
}
.box2 .template .image {
    width: 100%;
    height: 60%;            
    display: flex;
    justify-content: center;  
    align-items: flex-start;  
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    position: relative; /* Add this */
}

.box2 .template .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;       
    cursor: pointer;
    border-radius: inherit;
    transition: transform 0.3s ease-in-out;
}
.box2 .template .image .icon img{
    border-radius: 100%;
    background-color: #1db954;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.box2 .template .image .icon {
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
    opacity: 0;             
    transition: opacity 0.3s ease-in-out;
}
.box2 .template:hover .image .icon {
    opacity: 1;
    pointer-events: auto;
}
.box2 .template h1 {
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
    font-weight: bolder;
    cursor: pointer;
    
}
.box2 .template h1:hover{
    text-decoration: underline;
}
.box2 .template p {
    color: #b3b3b3;

    margin-bottom: 5px;
    font-size: 14px;
    cursor: pointer;
    
}
.box2 .template p:hover{
    text-decoration: underline;
}
.box2 .singer{
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 30px;
    color: white;
    box-sizing: border-box;
    
}
.box2 .singer h1{
    font-size: 25px;
}
.box2 .singer p{
    font-size: 15px;
    color: #b3b3b3;
    cursor: pointer;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.box2 .singer h1:hover{
    text-decoration: underline;
}
.box2 .singer p:hover{
    text-decoration: underline;
    color: white;
}
.box2 .art{
    display: flex;
    flex-wrap: wrap;        
    overflow-y: auto;            
    scrollbar-width:none;
    scrollbar-color: #888 #444;
    padding: 10px 20px;
    gap: 10px;
}
.box2 .artist {
    display: flex;
    flex-direction: column;   
    align-items: center;     
    width: 170px;
    height: 260px;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    box-sizing: border-box;  
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.box2 .artist:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;
    background-color: #333;
}
.box2 .artist .image {
    width: 100%;
    height: 60%;            
    display: flex;
    justify-content: center;  
    align-items: flex-start;  
    margin-bottom: 10px;
    border-radius: 100%;
    overflow: hidden;
    position: relative; /* Add this */
}

.box2 .artist .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;       
    cursor: pointer;
    border-radius: inherit;
    transition: transform 0.3s ease-in-out;
}
.box2 .artist .image .icon img{
    border-radius: 100%;
    background-color: #1db954;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.box2 .artist .image .icon {
    position: absolute;
    top: 50%;
    left: 50%; /* Change this from 75% */
    transform: translate(-50%, -50%);
    opacity: 0;             
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;  
}
.box2 .artist:hover .image .icon {
    opacity: 1;
    pointer-events: auto;
}
.box2 .artist h1 {
    font-size: 18px;
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bolder;
    cursor: pointer;
}
.box2 .artist h1:hover{
    text-decoration: underline;
}
.box2 .artist p {
    color: #b3b3b3;

    margin-bottom: 5px;
    font-size: 14px;
    cursor: pointer;
    
}
.box2 .artist p:hover{
    text-decoration: underline;
}
    

footer {
    flex-shrink: 0;
    padding: 10px;
    margin: 10px;
    background: #1f1f1f;
    color: white;
    z-index: 1;
    background-color: #402769;
    height: 40vh;
   justify-content: space-between;
    border-radius: 10px;
}
footer .preview{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-left: 20px;
    font-weight: bold;
}
footer .singup{
    width: 150px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
footer .singup:hover{
    background-color: #1db954;
    color: white;
    transform: scale(1.05);
}
